{% extends 'base.html' %}

{% block title %} Create a new student {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center"> Create a new student</h3>
                    </div>
                    <form method="post">
                        <div class="card-body">
                            {% csrf_token %} {# Cross Site Request Forgery este implementat pentru a aevita atacurile rau intentionate #}
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>









{% endblock %}