{% extends 'base.html' %}

{% block title %} Delete - {{ student }} {% endblock %}

{% block content %}
    <div class='container-fluid'>
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Delete-{{ student }}</h3>
                </div>
                <form method="post">
                    {% csrf_token  %}
                    <div class="card-body">
                        <p>Are you sure you want to delete {{ student }}? </p>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a href="{% url 'list-of-students' %}" class="btn btn-secondary">No</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}