{% extends 'base.html' %}

{% block title %} List of students {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col md-4">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Filters</h2>
                    </div>
                    <form method="get">
                        <div class="card-body">
                            {{ form_filters.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Search</button>
                             <a href="{% url 'list-of-students' %}" class="btn btn-outline-danger">Reset</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
{#             <h1>{{ current_datetime|date:"d-m-Y H:i:s" }}</h1>#}
{#                {% for trainer in list_trainers %}#}
{#                    <p>{{ trainer }}</p>#}
{#                    <p>{{ trainer.course }}</p>#}
{##}
{#                {% endfor %}#}
                {% if all_students %}
                    <table class="table table-striped">
                        <thead>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Active</th>
                        <th>Name of trainer</th>
                        <th>Course</th>
                        <th>Actions</th>

                        </thead>

                        <tbody>
                        {% for student in all_students %}
                            {# all_students este cheia declarata in clasa StudentListView in variabila context_object_name #}
                            <tr>
                                <td>{{ student.first_name|title }}</td>
                                <td>{{ student.last_name|title }}</td>
                                <td>{{ student.age }}</td>
                                <td>{{ student.start_date|date:"d-m-Y H:i:s" }}</td>
                                <td>{{ student.end_date|date:"d-m-Y" }}</td>
                                <td>
                                    {% if student.active %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                                <td>
                                    {% if student.trainer %}
                                        {{ student.trainer }}
                                    {% else %}
                                        No trainer
                                    {% endif %}
                                </td>
                                <td>
                                    {% if student.trainer.course %}
                                        {{ student.trainer.course }}
                                    {% else %}
                                        No course
                                    {% endif %}
                                </td>
                                 <td>
                                    <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      more actions
                                      </button>
                                      <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'update-student' student.id %}">Update</a></li>
                                        <li><a class="dropdown-item" href="{% url 'delete-student' student.id %}">Delete</a></li>
                                        <li><a class="dropdown-item" href="{% url 'details-student' student.id%}">Details</a></li>
                                      </ul>
                                    </div>
                                </td>




                            </tr>


                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div>
                        <p class="text-center">No data yet </p>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}