{% extends 'base.html' %}

{% block title %} List of Trainers {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for trainer in all_trainers %}
                <div class="col-md-6 gy-5" >
                    <div class="card" >
                      <div class="card-body">
                        <h5 class="card-title">{{ trainer.first_name }} {{ trainer.last_name }}</h5>
                        <p class="card-text">Course : {{ trainer.course }}</p>
                        <p class="card-text">Department: {{ trainer.department }} </p>
                        <p class="card-text">Contact: {{ trainer.email }} </p>
                        <div class ='dropdown'>
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">More actions</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'update-trainer' trainer.id %}">Update</a></li>
                                <li><a class="dropdown-item" href="{% url 'delete-trainer' trainer.id %}">Delete</a></li>
                                <li><a class="dropdown-item" href="#">Details</a></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}