{% extends 'base.html' %}

{% block title %} Password reset complete {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Password reset complete</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center"> Your password has been set.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'login' %}" class="btn btn-outline-secondary">Go to login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}