{% extends 'base.html' %}

{% block title %} Password reset sent {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center"> Password reset sent</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center">We've emailed you instructions for settings you password.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'homepage' %}" class="btn btn-outline-secondary">Go to home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}