{% extends 'base.html' %}
{% block title %} Password reset complete {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br><br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Password changed successfully</h3>
                    </div>
                    <div class="card-body">
                        <h5 class="text-center">Congratulation your password has been changed successfully!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} (edited)