<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Django Project</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'get-data' %}">Add books</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Intro
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'list-of-cars' %}">List of cars</a></li>
                            <li><a class="dropdown-item" href="{% url 'list-of-carti' %}">List of carti</a></li>
                        </ul>
                    </li>

                    {% if perms.student.add_student or perms.student.view_list_of_students %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Student
                            </a>
                            <ul class="dropdown-menu">
                                {% if perms.student.add_student %}
                                    <li><a class="dropdown-item" href="{% url 'create-student' %}">Create a new student</a></li>
                                {% endif %}
                                {% if perms.student.view_list_of_students %}
                                    <li><a class="dropdown-item" href="{% url 'list-of-students' %}">List of students</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Trainer
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'create-trainer' %}">Create a new trainer</a></li>
                            <li><a class="dropdown-item" href="{% url 'list-of-trainers' %}">List of trainer</a></li>
                        </ul>
                    </li>
                {% endif %}

            </ul>
            <div>
                {% if user.is_authenticated %}
                    <div class="dropdown" style="padding-right: 10px">
                        <button class="btn btn-outline-info dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            My profile
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-success">Login</a>
                    <a href="{% url 'create-user' %}" class="btn btn-outline-secondary">Sign up</a>
                {% endif %}
            </div>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>