{% extends 'base.html' %}

{% block title %} List of cars {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <p>coloana 1</p>
            </div>
            <div class="col-md-6">
                <p>coloana 2</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <table class="table table-primary table-striped">
                    <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Color</th>
                        <th>Model</th>
                        <th>Year</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for car in all_cars %}
                        {#        {% if car.year == 2022 %}#} {# afiseaza doar masinile din 2022 #}
                        <tr>
                            <td>
                                {% if car.brand %}
                                    {{ car.brand }}
                                {% else %}
                                    NO DATA
                                {% endif %}
                            </td>
                            <td> {{ car.color }}</td>
                            <td> {{ car.model }}</td>
                            <td> {{ car.year }}</td>
                        </tr>
                        {#        {% endif %}#}
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'list-of-carti' %}" class="btn btn-danger">Go to list of carti</a>
            </div>
        </div>

    </div>
{% endblock %}