{% extends 'base.html' %}

{% block title %} List of carti {% endblock %}

{% block content %}
<table border="1" class="table table-primary">
    <thead>
        <tr>
            <th>titlu</th>
            <th>autor</th>
            <th>an</th>
            <th>editura</th>
        </tr>
    </thead>
    <tbody>
        {%  for carti in all_carti %}
                <tr>
                    <td>{{ carti.titlu  }}</td>
                    <td>{{ carti.autor }}</td>
                    <td>{{ carti.an }}</td>
                    <td>{{ carti.editura }}</td>
                </tr>
        {% endfor %}

    </tbody>
</table>
<a href="{% url 'list-of-cars' %}" class="btn btn-primary">GO to list of cars</a>
{% endblock %}






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of carti</title>
</head>
<body>


</body>
</html>